/* CSS Document */

body{
margin:0px;
background-color:lightblue;
}

td{
font-family:'Century Gothic',Verdana, Arial, Helvetica, sans-serif; font-size:11px; text-align:left; 
}


.head{
background-image:url(images/BannerRow11111.jpg); background-repeat:no-repeat; background-position:top; height:100px; }


.rt{
text-align:right; vertical-align:middle; height:150px; padding-right:40px
}

.top-links{
text-align:center; vertical-align:middle; height:39px; padding-left:100px
}

.dec-top-bg{
background-image:url(images/dec-top-bg.jpg); background-repeat:repeat-x; height:20px; color:#024A71; text-align:center; vertical-align:top; font-weight:bold; width: 204px; font-size:15px;
}

.text-bg{
background-color:#72777A; width:692px; padding:2px; vertical-align:top
}

a.top{ text-decoration:none; color:#fff; font-weight:bold }
a.top:link{ text-decoration:none; color:#fff; font-weight:bold }
a.top:hover{ text-decoration:none; color:#000; font-weight:bold }

.menu{
background-color:navy; height:28px; border-top:1px solid #fff; border-bottom:1px solid #fff; text-align:right; padding-right:5px;
}
.cr{
background-color:#fff; font-size:10px; color:#333; height:25px; padding-left:5px;  text-align:left; vertical-align:middle;
}

.cr-dec{
background-image:url(images/cr-dec.gif); background-repeat:no-repeat; background-position:left; height:4px; background-color:#F49000
}